#app {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.block_title {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 30px;
    color:rgb(22, 35, 78)
}

.tar {
    text-align: right;
}
